{% extends 'base.html.twig' %}

{% block title %}Hello Player !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! Player! </h1>

    <p> You rolled a <img class = "dice-button" src="{{ asset( 'assets/dices/' ~ dice ~ '.png') }}" alt="{{dice}}"/> </img> and got  {{ result }} ! </p>
      
   
</div>
{% endblock %}
